<script>
   const mapToken ="<%= process.env.MAP_TOKEN %>";
   const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %> ;

</script>
 
   <% layout("/layouts/boilerplate") %>

  <br>
        <div class="row">
            <div class="col-8 offset-2">
      <h1><%= listing.title %></h1>
            </div>
       
      <div class="card  col-6 offset-3 listing-card"  >
  <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Image Listing">
  <div class="card-body">
    <p class="card-text">
       
        <p> <b>Owner: </b>
        <i><%= listing.owner.username %></i>  </p>
       <p> <%= listing.description %> </p>
       <p> &#x20B9; <%= listing.price.toLocaleString("en-IN") %></p>
       <p> <%= listing.location %> </p>
       <p><%= listing.country %></p>
        </p>
  </div>
  
       <% if(currUser && listing.owner._id.equals(currUser._id)){ %>
        <div class="btns ">
       <a href="/listings/<%= listing._id%>/edit"> <button type="button" class="btn   ">Edit</button></a> 
       <br> <br>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" >
            <button type="submit" class="btn  offset-5" >Delete </button>
        </form>
    </div>
      <% } %>
</div>
</div>
</div>  
  
  
  <div class="offset-3">
    <hr>
    <%    if(currUser){ %>
     <h1>Leave a Comment</h1>
     <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation"> 
    
       <div class="mb-3 mt-3" >
        <label ><b>Rating :</b></label>
       <fieldset class="starability-growRotate">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      </div>
      

       <div class="mb-3 mt-3">
        <label for="Comment" ><b>Comment :</b></label>
        <textarea rows="5" cols="10"  class="form-control" name="review[comment]" id="Comment"
          required ></textarea>
          <div class="invalid-feedback">Please add some comments for reviews!</div>
       </div>
       <br>
       <button   type="submit" class="btn ">Submit</button>
       <br><br>
      </form>

     <% } %>
          
         
          
            <%   if(listing.reviews.length > 0){  %>
            <div class="row">   
              <h3>All reviews</h3>
         <% for(review of listing.reviews){ %>
        
          <div class="card mb-3 ms-3 col-5"  >
                <div class="card-body">
                  <div class="card-title">
                    <h5><i>@<%= review.author.username %></i></h5>
                  </div>
               <p class="starability-result card-text" data-rating="<%= review.rating %>"> </p>
                  <p class="card-text"><b>Comment :</b><%= review.comment %> </p>
               
                  <form  method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE ">
                    <button type="submit" class="btn mb-3 ">Delete</button>

                  </form>
             </div>
               <% } %>
            </div>
             
         <% } %> 
        </div>
      </form>
  </div>

       <div class="col-8 offset-3 mb-3">
        <h3>Where you'll be </h3>
        <div id="map">

        </div>
       </div>
    <hr>

  <script src="/js/map.js"></script>


